{% extends 'layout/layout.html' %}
{% block content %}
<h5>经销商</h5>
<div>
    <a class="btn btn-primary btn-sm">添加</a>
</div>
<table class="table table-bordered table-hover">
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>地址</th>
        <th>电话</th>
        <th>邮箱</th>
        <th>类型</th>
        <th>是否启用</th>        
        <th>是否删除</th>  
        <th>操作</th>
    </tr>
    {% for m in model %}
    <tr>
        <td>{{ m.no }}</td>
        <td>{{ m.name }}</td>
        <td>{{ m.address }}</td>
        <td>{{ m.phone }}</td>
        <td>{{ m.email }}</td>
        <td>{{ m.dealer_type.description }}</td>        
        <td>{{ m.is_active }}</td>        
        <td>{{ m.is_deleted }}</td>  
        <td>
            <a class="btn btn-secondary btn-sm">编辑</a>
            <a class="btn btn-danger btn-sm">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}